/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full text-[15px] transition rounded-lg h-11 px-4 border-0 bg-[#eeeeee] outline-none focus:border-black focus:ring-black focus:ring-2 focus:bg-gray-50 placeholder:text-gray-500;
  }

  select:invalid {
    @apply text-gray-500;
  }

  select option {
    @apply text-black;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("https://cdn-icons-png.flaticon.com/512/60/60995.png");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  select::-ms-expand {
    display: none;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-black focus:ring-0 ring-offset-0;
  }

  label {
    @apply text-gray-500 
  }

  button {
    @apply px-6 py-3 text-[15px] rounded-md font-medium transition duration-300 focus-visible:outline-none;
  }

  button.primary {
    @apply text-white text-[15px] bg-black hover:bg-zinc-800 disabled:bg-zinc-200 disabled:text-zinc-500;
  }

  button.secondary {
    @apply text-black text-[15px] bg-[#eeeeee] hover:bg-zinc-200 disabled:bg-zinc-200 disabled:text-zinc-500;
  }

  small {
    @apply text-gray-600 text-[11px];
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  router-outlet + * {
    width: 100%;
    flex: 1 1 0%;
  }

  ::-webkit-scrollbar {
    background-color: #fafafa;
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: padding-box;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Google maps */

.gmnoprint .gm-style-mtc,
.gmnoprint a,
.gmnoprint span,
.gm-style-cc,
.gm-svpc,
.gm-control-active.gm-fullscreen-control {
  display: none;
}

.gmnoprint > div {
  box-shadow: none !important;
  border-radius: 6px !important;
}

.gm-style-iw {
  @apply !p-0 !shadow-lg !rounded-sm;
}

.gm-style-iw-d {
  @apply !overflow-hidden;
}

.gm-style-iw button {
  @apply !hidden;
}

div.gm-style-iw-tc {
  @apply !hidden;
}
