/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full text-[15px] transition rounded-lg h-11 px-4 border-0 bg-[#eeeeee] outline-none focus:border-black focus:ring-black focus:ring-2 focus:bg-gray-50 placeholder:text-gray-500;
  }

  /* select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  select::-ms-expand {
    display: none;
  } */

  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-black focus:ring-0 ring-offset-0;
  }

  button {
    @apply px-6 py-3 text-[15px] rounded-md font-medium transition duration-300 focus-visible:outline-none;
  }

  button.primary {
    @apply text-white text-[15px] bg-black hover:bg-zinc-800 disabled:bg-zinc-200 disabled:text-zinc-500;
  }

  button.secondary {
    @apply text-black text-[15px] bg-[#eeeeee] hover:bg-zinc-200 disabled:bg-zinc-200 disabled:text-zinc-500;
  }

  small {
    @apply text-gray-600 text-[11px];
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  router-outlet + * {
    width: 100%;
    flex: 1 1 0%;
  }

  ::-webkit-scrollbar {
    background-color: #fafafa;
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: padding-box;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.gmnoprint .gm-style-mtc,
.gmnoprint a,
.gmnoprint span,
.gm-style-cc,
.gm-svpc,
.gm-control-active.gm-fullscreen-control {
  display: none;
}

.gmnoprint > div {
  box-shadow: none !important;
  border-radius: 6px !important;
}
